@import 'indexCss.css';
@import 'principalCss.css';

#add{
    width:65%;
    height: 100%;
    margin: auto;
    display: block;
}


#iframe{
	height: 280px;
    width: 520px;
    margin: 0 auto;
    
}

#fila1{
    height: 150px;
    background-color: azure;
    height: 100%;
    margin: 40px;
    padding: 30px;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
        border: 1px solid #BDBDBD;
        
    
    
}

#fila1:hover{

background-color: #caebf2;
}

input{
    display: inline-block !important;
}

#enviar{
   
   width: 70px !important;
    margin-top: 50px !important;
    
}

h1{
    width: 100%;
    display: block;
    border-bottom: 2px solid black;
    font-weight: 300;
    text-indent:20px;
}
#cancelar {
     width: 80px !important;
    margin-top: 50px !important;
       
  
    
}

#addBottonIco {
    margin-top: 5px;
}
