@import url('https://fonts.googleapis.com/css?family=Noto+Sans');


#calendari {
	visibility: hidden;
	text-align: center;
	font-family: 'Noto Sans', sans-serif;
}

#text {
	visibility: visible;
	text-align: center;
}

#calendari tr, td{
  background-color: #efefef;
  text-align: center;
    cursor:pointer;
    font-weight: 100;
  
}

#calendari tr, td:hover{
 font-weight: 900;
  
}

#calendari table {
  background-color: #efefef;
  border: 1px solid #840705;
  padding: 5px;
      border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
}

#mesAny {
	font-family: 'Noto Sans', sans-serif;
    width: 170px;
}

button{
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border: 1px solid #BDBDBD;
    padding: 5px;
    background-color: white;
    height: 30px;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    font-size: 15px;
    margin: 0 px auto;
    margin-bottom: 2px;
}