@import url('https://fonts.googleapis.com/css?family=Noto+Sans');
@import url('reinicia.css');
@import url('https://fonts.googleapis.com/css?family=Pacifico');


header{
    width:100%;
    background-color: #EFEFEF;
    height: 220px;
    font-weight:100;
    
   font-family: 'Noto Sans', sans-serif;
    -webkit-box-shadow: 0px 17px 23px -17px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 17px 23px -17px rgba(0,0,0,0.75);
box-shadow: 0px 17px 23px -17px rgba(0,0,0,0.75);
}

#logo{
    font-family: 'Pacifico', cursive !important;
    font-size: 100px !important;
    color: #840705 !important;
    display: inline;
}



body{
    font-family: 'Noto Sans', sans-serif;
    margin-left: 5%;
    margin-right: 5%;
}

footer{
    background-color: #856f5a;
        height: 175px;
    margin-top: 50px;
-webkit-box-shadow: 0px -18px 23px -17px rgba(0,0,0,0.75);
-moz-box-shadow: 0px -18px 23px -17px rgba(0,0,0,0.75);
box-shadow: 0px -18px 23px -17px rgba(0,0,0,0.75);
    border: 5px solid #856f5a;
    clear: both;

}
section{
    background-color: white;
    
    
}
#login input{
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border: 1px solid #BDBDBD;
    padding: 5px;
    background-color: white;
    height: 47px;
    border-radius: 5px 5px 5px 5px;
-moz-border-radius: 5px 5px 5px 5px;
-webkit-border-radius: 5px 5px 5px 5px;
font-size: 15px;
    margin:0 px auto; 
    
    width: 100%;
    margin-bottom: 2px;
    
}


#cajaElemento{
        margin:0px auto; 
    display:block;
    
}
 
img{
    vertical-align: middle;
}
#formulario{
 width: 40%;
 margin: 0 auto;
    padding: 40px;
    margin-top: 25px;
    -webkit-box-shadow: 0px 0px 6px 2px rgba(153,153,153,1);
-moz-box-shadow: 0px 0px 6px 2px rgba(153,153,153,1);
box-shadow: 0px 0px 6px 2px rgba(153,153,153,1);
    
}

section{
    margin-top: 50px;
}


#imgLoc {
    float: right;
}

#userImg {
    
    float: right;
    position: inherit;
    margin-top: 9px;
    border-radius: 200px 200px 200px 200px;
-moz-border-radius: 200px 200px 200px 200px;
-webkit-border-radius: 200px 200px 200px 200px;
border: 0px solid #000000;

}


#user_data {
    float: right;
    position:inherit;
    margin: 0 auto;
    margin-top: 65px;
    margin-right: 30px;
    text-align: center;
}


.alert {
    padding: 15px;
    margin: 0 auto;
    border: 1px solid transparent;
    border-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    width: 50%;
}

.alert-malament {
    color: #b94a48; 
    background-color: #f2dede;
    border-color: #ebccd1;
}

.alert-be {
    color: #468847;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.alert-perill {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}


h1{
    font-size: xx-large;
    font-weight: normal;
    
}

#drets{
    margin: 30px;
}