@import 'indexCss.css'; 


nav{
    width: 100%;
    background-color: #856f5a;
    height: 55px;
    -webkit-box-shadow: 0px 17px 23px -17px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 17px 23px -17px rgba(0,0,0,0.75);
box-shadow: 0px 17px 23px -17px rgba(0,0,0,0.75);
}
#cercador{
    float: right;
    margin-top: 13px;
    margin-right: 30px;
}




/****************************/
 .Table {  
            display: table; 
            margin: 0 auto;
            margin-top: 25px;
            width: 80%;
            border: solid ;  
            border-width: thin; 
            border-color: #444444;
  
        }  
  
        .Heading{ 
            display: table-row; 
            font-weight: bold;  
            text-align: center; 
            background-color: #aaaaaa;
        }  
  
        .Row{  
  
            display: table-row; 
        }  
  
        .Cell{  
            display: table-cell; 
            padding-top: 35px;
            padding-left: 5px;  
            padding-right: 5px;  
            padding-bottom: 35px;
            border-left: solid 0.1px;
            border-color: white;
            text-align: center;
  
        }  

.Row:nth-child(2n){
    background-color: #caebf2;
}

.Row:nth-child(odd){
    background-color: #efefef;
}


#addBotton {
    border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
    border: 3px solid White;
    background-color: #840705;
    width: 100px;
    height: 100px;
    text-align: center;
    margin-left: 30px;
    position: relative;
    top: -25px;
    left: 15px;
    text-align: center;
    display: block;
    
    
}


#addBotton:hover {

    background-color: #d12e2b;
}

#addBottonIco {
    margin-top: 10px;
}


#enviarBusca {
    background-image: url("../icon/ic_search_black_24dp_1x.png");
    height: 29px;
    width: 29px;
    background-color: white;
        border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
    border: 3px solid White;
    vertical-align: middle;
}

#barraBusca {
    border-radius: 5px 5px 5px 5px;
-moz-border-radius: 5px 5px 5px 5px;
-webkit-border-radius: 5px 5px 5px 5px;
    border: 1px solid #BDBDBD;
    padding: 5px;
}



.buttonPaginacio{
   
    background-color: #EFEFEF;
    height: 20px;
    width: 20px;
    padding: 12px;
    list-style: none;
    text-align: center;
    text-decoration: none;
    float: left;
    text-align: center;
   /* border: 1px solid #FFFFFF;*/
    margin-top: 15px;
    margin-bottom: 15px; 
    border: 1px solid #BDBDBD;
    background-color: white;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    font-size: 15px;
    margin-bottom: 13px;
    margin-right: 3px;
    color: black;
    font-weight: none;
     
}

.buttonPaginacio:hover{
    font-weight: 900;
}

#barraPag{
    margin-left: 10%;
    display: block;
}

#navegarPaginarLeft {
display: inherit;
    float: left;
    font-size: 90px;
    width:  128px;
    margin-top: 16%;
}

#navegarPaginarRight{
    display: inherit;
    float: right;
    font-size: 90px;
      margin-top: 16%;
    width:  128px;
}

#numPag{
    margin: auto !important;
    display: block;
    text-align: center;

}

.links{
    text-decoration: none;
    color: black;
    border-bottom: dotted; border-width: 2px;
}
